.register-wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .auth-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    flex: 1;
  }
  
  .auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
  form {
    width: 70%;
  }
  .welcome{

    padding-left: 0%;
    margin-left: 500px;
display: inline-flex;
width: 100%;

  }
  .form-group {
    margin-top: 20px;
  }
  
  .form-control {
    background: #eeeeee;
  }
  
  .form-outlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .remember-me {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover {
    background: #880e4f;
  }
  